.bordererd-no-pi {
  border-radius: 5px;
  webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 3px 3px 4px #000;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
}
.bordererd {
  border-radius: 5px;
  webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 3px 3px 4px #000;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  behavior: url(/content/PIE.htc);
}
body {
  background-color: #131313;
  background-image: url(background.png);
  color: #cfcfcf;
}
.myMenu {
  border-radius: 5px;
  webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 3px 3px 4px #000;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  behavior: url(/content/PIE.htc);
  background-color: #242424;
  padding-top: 10px;
  padding-bottom: 2px;
  margin-bottom: 15px;
}
.myContent {
  border-radius: 5px;
  webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 3px 3px 4px #000;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  behavior: url(/content/PIE.htc);
  background-color: #242424;
  padding: 10px;
}
#content {
  margin-top: 15px;
}
a {
  color: white;
}
a:hover {
  color: #cfcfcf;
}
.menu-header {
  background-color: #131313;
  padding: 5px;
  font-size: 1.2em;
  margin-bottom: 3px;
  padding-left: 10px;
}
pre {
  background-color: #b4b4b4;
}
blockquote {
  border-left-color: #b4b4b4;
}
#main {
  margin-left: 10px;
  margin-right: 10px;
}
.mBox {
  border-radius: 5px;
  webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 3px 3px 4px #000;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  background-color: #242424;
  padding: 10px;
  border: solid #303030 1px;
  margin-bottom: 20px;
  height: 132px;
}
.mBox:hover {
  border: solid #cfcfcf 1px;
}
.dirty-state {
  border-color: red !important;
}
